venv
.*
arhiv
**/my_password.txt
**/__pycache__
*/__pycache__
node_modules
**/node_modules
**/yarn.lock
**/dist
**/media/*
main.py
!.gitignore

!spacex/frontend/.gitignore
!**/.browserslistrc
!**/.editorconfig
!**/.eslintignore
!**/.eslintrc.js
!**/static/*


spacex/static/spacex/index.html
