/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/fonts.css ***!
  \**********************************************************************************************************************************************/
@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url(/090caa99f90ab640b9f0.eot);
  src: local('MuseoSansCyrl-100'),
    url(/090caa99f90ab640b9f0.eot?#iefix) format('embedded-opentype'),
    url(/d4ac835125d2f8572051.woff2) format('woff2'),
    url(/31d90e13015d52eb2dfd.woff) format('woff'),
    url(/08a5da127bc1259cd254.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url(/01319fe37a42d541dde3.eot);
  src: local('MuseoSansCyrl-300'),
    url(/01319fe37a42d541dde3.eot?#iefix) format('embedded-opentype'),
    url(/9fefbccdbf2e48211de1.woff2) format('woff2'),
    url(/e05cd175e9eb5968797a.woff) format('woff'),
    url(/6f02d59063a46519fa0e.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url(/e77eb7ef429dfaeffdc7.eot);
  src: local('MuseoSansCyrl-700'),
    url(/e77eb7ef429dfaeffdc7.eot?#iefix) format('embedded-opentype'),
    url(/117ac9a08044f50383be.woff2) format('woff2'),
    url(/faadb6a55f65113e77a8.woff) format('woff'),
    url(/9216b9e7585f02d2ed03.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/basis.css ***!
  \**********************************************************************************************************************************************/
/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: content-box;
}

body{
  /* width: 100vw;
  min-height: 100vh;
  max-width: 100vh; */
  height: calc(100vw * (9 / 16));
}

body * {
  line-height: 1;
  font-family: 'Museo Sans Cyrl 300', Menlo, Consolas, "Courier New", monospace;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* demo styles */
body {
  color: #000;
}

.body {

  min-width: 319px;
  width: 100vw;
  max-width: 1920px;
  min-height: 660px;
  height: 100px;
  max-height: 660px;
  background: #f0f0f0;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  overflow: hidden;
  background: no-repeat url(/d274486cdd647019e470.png) center;
  background-size: cover;
}

.font-container {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 40px;
  line-height: 1.3;
  white-space: nowrap;
  padding-bottom: 5px;
}

html {
  font-size: 12px;
}

h1 {
  position: relative;
  background: #444;
  font-size: 4.6666rem;
  font-weight: 700;
  font-family: 'Museo Sans Cyrl 700';
  color: #fff;
  padding: 10px 20px;
  margin: 0 -20px 12px -20px;
}

.letters {
  font-size: 2.0833rem;
  margin-bottom: 20px;
}

.s10:before {
  content: '10px';
}

.s11:before {
  content: '11px';
}

.s12:before {
  content: '12px';
}

.s14:before {
  content: '14px';
}

.s18:before {
  content: '18px';
}

.s24:before {
  content: '24px';
}

.s30:before {
  content: '30px';
}

.s36:before {
  content: '36px';
}

.s48:before {
  content: '48px';
}

.s60:before {
  content: '60px';
}

.s72:before {
  content: '72px';
}

.s10:before,
.s11:before,
.s12:before,
.s14:before,
.s18:before,
.s24:before,
.s30:before,
.s36:before,
.s48:before,
.s60:before,
.s72:before {
  font-family: Arial, sans-serif;
  font-size: 0.83333rem;
  font-weight: normal;
  font-style: normal;
  color: #999;
  padding-right: 6px;
}

pre {
  display: block;
  padding: 9px;
  margin: 0 0 12px;
  line-height: 1.428571429;
  color: #333;
  font-weight: normal;
  font-style: normal;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  overflow-x: auto;
  border-radius: 4px;
}

p{
  font-size: 2.08333rem;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  font-size: 1.333rem;
}

a:hover {
  cursor: pointer;
}

/* font-weight: 700; */
butoom {
  font-size: 1.6667rem;
  font-weight: 100;
}
/* responsive */
@media (max-width: 959px) and (min-aspect-ratio: 9/16){
  .body {
    width: auto;
    margin: 0;
  }
}




/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/style.css ***!
  \**********************************************************************************************************************************************/


.body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}
header {
  width: 100%;
  max-width: 1170px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-between;
}

/* ------ Header Logo ------ */
.header__logo,
.header__middle,
.header__menu,
.header__menu ul li{
display: inline-block;
}
.header__logo{
    background: no-repeat url('./src/pic/background_logo.png') center;
}

.header__logo,
.header__logo_img{
    min-height: 100px;
    max-height: 100px;
    }

.header__logo_img {
    width:315px;
    background: no-repeat url(/d62981eb534e1d4f47af.svg) center;
}

/* ------ Header nenu ------ */
.header__menu{
   width: 100%;
   max-width: 724px;
}
.header__menu ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}
.header__menu a{
color: #ffffff;
}

