/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/fonts.css ***!
  \**********************************************************************************************************************************************/
@font-face {
  font-family: 'Museo-Sans-Cyrl-100';
  src: url(../javascripts/../fonts/MuseoSansCyrl-100.eot);
  src: local('MuseoSansCyrl-100'),
    url(../javascripts/../fonts/MuseoSansCyrl-100.eot?#iefix) format('embedded-opentype'),
    url(../javascripts/../fonts/MuseoSansCyrl-100.woff2) format('woff2'),
    url(../javascripts/../fonts/MuseoSansCyrl-100.woff) format('woff'),
    url(../javascripts/../fonts/MuseoSansCyrl-100.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo-Sans-Cyrl-300';
  src: url(../javascripts/../fonts/MuseoSansCyrl-300.eot);
  src: local('MuseoSansCyrl-300'),
    url(../javascripts/../fonts/MuseoSansCyrl-300.eot?#iefix) format('embedded-opentype'),
    url(../javascripts/../fonts/MuseoSansCyrl-300.woff2) format('woff2'),
    url(../javascripts/../fonts/MuseoSansCyrl-300.woff) format('woff'),
    url(../javascripts/../fonts/MuseoSansCyrl-300.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo-Sans-Cyrl-700';
  src: url(../javascripts/../fonts/MuseoSansCyrl-700.eot);
  src: local('MuseoSansCyrl-700'),
    url(../javascripts/../fonts/MuseoSansCyrl-700.eot?#iefix) format('embedded-opentype'),
    url(../javascripts/../fonts/MuseoSansCyrl-700.woff2) format('woff2'),
    url(../javascripts/../fonts/MuseoSansCyrl-700.woff) format('woff'),
    url(../javascripts/../fonts/MuseoSansCyrl-700.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/basis.css ***!
  \**********************************************************************************************************************************************/
/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
main,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
main,
section {
  display: block;
  box-sizing: content-box;
}

body{
  /* width: 100vw;
  min-height: 100vh;
  max-width: 100vh; */
  height: calc(100vw * (9 / 16));
}

header,
main,
footer{
position: relative;
}

body * {
  line-height: 1;
  font-family: 'Museo-Sans-Cyrl-300', Menlo, Consolas, "Courier New", monospace;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* demo styles */
body {
  color: #000;
}

.body {

  min-width: 319px;
  width: 100vw;
  max-width: 1920px;
  min-height: 660px;
  height: 100px;
  max-height: 660px;
  background: #f0f0f0;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  overflow: hidden;
  background: no-repeat url(../javascripts/../pic/backgroung_main.png) center;
  background-size: cover;
}

.font-container {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 40px;
  line-height: 1.3;
  white-space: nowrap;
  padding-bottom: 5px;
}

html {
  font-size: 12px;
}
a{
    cursor: pointer;
}
h1 {
  position: relative;
  font-size: 4.6666rem;
  font-weight: 700;
  font-family: 'Museo-Sans-Cyrl-700';
  color: #fff;
}

.letters {
  font-size: 2.0833rem;
  margin-bottom: 20px;
}


pre {
  display: block;
  padding: 9px;
  margin: 0 0 12px;
  line-height: 1.428571429;
  color: #333;
  font-weight: normal;
  font-style: normal;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  overflow-x: auto;
  border-radius: 4px;
}

p{
  font-size: 2.08333rem;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  font-size: 1.333rem;
}

a:hover {
  cursor: pointer;
}

/* font-weight: 700; */
butoom {
  font-size: 1.6667rem;
  font-weight: 100;

}
/* responsive */
@media (max-width: 959px) and (min-aspect-ratio: 9/16){
  .body {
    width: auto;
    margin: 0;

  }
}




/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/style.css ***!
  \**********************************************************************************************************************************************/
body{
    padding-top: 0;

}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  padding-top: 0;
  flex-direction: column;
}

header {
  width: 100%;
  max-width: 1170px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-between;
  padding-left: 23px;
}




/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/main.css ***!
  \*********************************************************************************************************************************************/
/* ------ Main ------ */
main {

  min-height: 353px;
  height: 100%;
  max-height: 353px;
}

main * {
  font-family: 'Museo-Sans-Cyrl-100';
}

main section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* ------ Header main ------ */
hgroup p {
  font-family: 'Museo-Sans-Cyrl-700';
  font-size: 1.923rem;
}

hgroup h1,
hgroup p {
  background: linear-gradient(to right, #fff 30%, #ff4309);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-family: 'Museo-Sans-Cyrl-700';
}

hgroup p {
  text-transform: lowercase;

}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.main__button_push .buttom {
  width: 186px;
  min-height: 36px;
  max-height: 36px;
  background: no-repeat url(../javascripts/../pic/backroung_buttom.png) center;
  background-size: cover;
  color: #ffffff;
  font-size: 1.08rem;
  text-align: center;
  padding-top: 11px;
  box-sizing: border-box;
  cursor: pointer;
}

.main__button_push .buttom:hover {
  color: #929292;
}

.main__button {
  position: relative;
  width: 587px;
  padding-top: 110px;
}

.main__button::after {
  content: '1';
  position: absolute;
  width: 70%;
  min-height: 60px;
  max-height: 60px;
  overflow: hidden;
  right: 0;
  bottom: 90px;
  font-size: 0.1px;
  background: no-repeat url(../javascripts/../pic/background_rocket.png) center;
  background-position-x: 0;
  z-index: 2;
}

.main__button_h1 {
  min-height: 120px;
  max-height: 120px;
  margin-bottom: 50px;
}

.main__middle {
  width: 100%;
  max-width: 21.9%;
}

.main_statically {
  max-width: 326px;
  width: 100%;
  /* min-width: 346px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main_statically>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 13%; */
  text-align: center;
  display: flex;
  padding-top: 76px;
}

.main_statically>div {
  position: relative;
  min-width: 129px;
  width: 100%;
  max-width: 147px;
  min-height: 147px;
  max-height: 147px;
  cursor: pointer;
  background-image: linear-gradient(-60deg,
      rgba(233, 233, 233, 0.5) -247%,
      rgba(233, 233, 233, 0) 60%);
  /* .main_statically  > div {


} */

}

.main_statically>div:hover::after,
.main_statically>div:hover::before {
  /* :hover */

  content: '1';
  width: 100%;
  height: 1px;
  position: absolute;
  font: 0.1px;
  border-width: 1px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-bottom: 1;
  border-image: linear-gradient(to right, rgba(146, 146, 146, 0.2) 45%, rgba(146, 146, 146, 0.4) 75%) 1 stretch;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.main_statically>div:first-of-type:hover::before,
.main_statically>div:last-of-type:hover::before {
  border-bottom: 0px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgba(146, 146, 146, 0.08) 45%, rgba(146, 146, 146, 0.4) 75%) 2 stretch;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.main_statically>div:nth-of-type(2):hover::before,
.main_statically>div:nth-of-type(3):hover::before {
  border-right: 1px;
  border-image: linear-gradient(to bottom, rgba(146, 146, 146, 0.08) 45%, rgba(146, 146, 146, 0.4) 75%) 2 stretch;
  width: 1px;
  height: 100%;
  top: 0;
  border-style: solid;
}

.main_statically .main_statically_present,
.main_statically>div:last-of-type {
  padding-top: 42px;
  padding-bottom: 34px;
}

.main_statically>div span {
  display: inline-block;

  font-family: 'Museo-Sans-Cyrl-100';
  font-size: 4.915rem;
  color: #e9e9e9;
  line-height: 1.28;
}

.main_statically>div span:first-of-type+span {
  font-family: 'Museo-Sans-Cyrl-700';
}

.main_statically>div span:first-of-type,
.main_statically>div span:last-of-type,
.main_statically .main_statically_present span:first-of-type+span::after {

  color: #c0b8b8;
  font-size: 1.385rem;
}


.main_statically .main_statically_present span:first-of-type+span {
  position: relative;
  padding-right: 10px;
}

.main_statically .main_statically_present span:first-of-type+span::after {
  content: 'Ð³.';
  font-family: 'Museo-Sans-Cyrl-100';
  position: absolute;
  width: 10px;
  min-height: 10px;
  max-height: 10px;
  bottom: 16px;
}

.main_statically>div>div {
  min-height: 100%;
  max-height: 188px;
}

.main_statically_market {}

/*!************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/screens.css ***!
  \************************************************************************************************************************************************/
@media all and (max-width: 1140px){
.main__button::after{
display: none;
}
}

@media all and (max-width: 1024px){
  .main__middle,
  .header__middle{
   width: 5px;
  }
  .header__menu ul{
    column-gap: 1%;
  }
}

@media all and (max-width: 980px)   {
    body:{
        min-height:100vh;
        max-height:100vh;
    }
    .main__button {
      min-width: 320px;
      width: 100%;
      max-width: 587px;
    }
    .main_statically {
      max-width: 596px;
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: row;
    }
    .main_statically > div {
      padding-top: 40px;
      /* min-height: 160px; */
      /* max-height: 170px; */
      padding-bottom: 34px;
    }
     hgroup.h1{
        text-align: center;
    }
    main section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .main_statically > div {
      padding-top: 42px;
    }
     .main__button_push{
        text-align: center;
    }
    .main__button_push .buttom {
      display: inline-block;
    }
}
@media all and (max-width: 920px)   {
    .header__menu ul{
        display: none;;
    }

    .header__menu,
    header__menu::before{
        border: 0;
    }

    .header__menu ,
    .header__menu menu{
        min-height: 13px;
        max-height: 13px;
    }

    .header__menu {
        position: relative;
        width: 22px;
        padding: 0;
        padding-top: 5px;

        border: 0;
    }
    .header__menu menu{

        border: 1px solid aliceblue;
        border-left: 0;
        border-right: 0;
    }

    .header__menu menu::before, .header__menu menu::after {
      content: '1';
      font-size: 0.1px;
      width: 100%;
      max-height: 1px;
      background-color: aliceblue;
      position: absolute;
      top: 10px;
      left: 0;
    }

   .header__menu menu::after {
  top: 14px;
  min-height: 1px;
  max-height: 1px;
}

}

@media all and (max-width: 568px){
    main {
        max-height: 557px;
    }
    main section{
      max-height: 553px;
      min-height: auto;
      height: 100%;
      align-content: flex-start;
    }
    .main__button {
      min-width: 320px;
      width: 100%;
      max-width: 587px;
      padding-top: 0;
    }
    .main__button_h1 {
      margin-bottom: 0;
    }
    .main_statically {
      /* width: 50%; */
      min-height: 394px;
      max-height: 394px;
      height: 100%;
      display: block;
      text-align: center;
      /* vertical-align: top; */
    }
    .main_statically > div {
      display: inline-block;
    }
    .main_statically > div span:first-of-type + span {
      font-family: 'Museo-Sans-Cyrl-100';
      font-size: 3.54rem;
      width: 100%;
    }
   .main_statically > div,
   .main_statically .main_statically_present,
   .main_statically > div:last-of-type{
      padding: 5px 0;
    }
}
@media all and (max-width: 568px){
    .header {
      position: relative;
    }
    .header__menu {
      position: absolute;
      top: 0;
      left: -1px;
    }
    hgroup h1 {
      font-family: 'Museo-Sans-Cyrl-100';
      font-size: 46px;
    }
}
/*!***********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/header.css ***!
  \***********************************************************************************************************************************************/
/* ------ Header Logo ------ */
.header__logo,
.header__middle,
.header__menu,
.header__menu ul li {
  display: inline-block;
}

.header__logo {
  background: no-repeat url(../javascripts/../pic/background_logo.png) center;
}

.header__logo,
.header__logo_img {
  min-height: 100px;
  max-height: 100px;
}

.header__logo_img {
  width: 290px;
  background: no-repeat url(../javascripts/../pic/logo.svg) center;
  background-position: 8px 20px;
}

/* ------ Header menu ------ */
.header__menu {
  width: 100%;
  max-width: 724px;
  padding-top: 41px;
}

.header__menu ul,
.header__menu ul.active {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 3%;
}

.header__menu li {
  position: relative;
  vertical-align: top;
}

.header__menu a {
  display: block;
  height: 100%;
  padding: 0 5px 11px 5px;
  color: #ffffff;
}


.header__menu a:hover {
  color: #929292;
}

a:hover::after {
  content: 'Hi';
  font-size: 0.33px;
  display: block;
  min-height: 1px;
  max-height: 1px;
  width: calc(100% + 4px);
  border: 0;
  /* border-bottom: 1px solid #fff; */
  position: absolute;
  /* bottom: 0; */
  border: 0;
  background-color: #3d3d3d;
  bottom: 2px;
  left: 9px;
}

.header__middle {
  width: 11.2%;
}

